<div id="content">
	<section role="main" id="main">
		<div itemscope="" itemtype="http://schema.org/Product" id="prod-239282537" class="clearfix">
			<meta itemprop="url" content="http://uplift-theme.myshopify.com/products/alligator-bath-toy">
			<meta itemprop="image" content="//cdn.shopify.com/s/files/1/0374/3593/products/42_grande.jpeg?v=1392395244">

			<h3 class="page-title" itemprop="name">Thông tin</h3>

			<div id="product-images" class="clearfix single-image">

				<a id="product-shot" class="productimage" data-image-id="495149845" href="public/images/xetapdi.jpg" style="position: relative; overflow: hidden;">
<!-- 					<img ng-src="public/images/xetapdi.jpg" alt="Xe tập đi" /> -->
					<div id="product-picture">
						
					</div>
				</a>
				<div id="more-images" class="clearfix owl-carousel owl-theme" style="opacity: 0; display: block;">

					<div class="owl-wrapper-outer">
						<div class="owl-wrapper" style="width: 66px; left: 0px; display: block;">
							<div class="owl-item" style="width: 33px;">
								<a href="javascript:;" onclick="return false;" class="active-img productimage smallimg" rel="lightbox" title="Alligator Bath Toy" data-image-id="495149845">
									<img ng-src="public/images/xetapdi.jpg" alt="Xe tập đi" />
								</a>
							</div>
						</div>
					</div>

					<div class="owl-controls clickable" style="display: none;">
						<div class="owl-pagination">
							<div class="owl-page"><span class=""></span>
							</div>
						</div>
						<div class="owl-buttons">
							<div class="owl-prev"><span class="arrow-left"></span>
							</div>
							<div class="owl-next"><span class="arrow-right"></span>
							</div>
						</div>
					</div>
				</div>
			</div>



			<div id="product-details">



				<h2 itemprop="brand" class="hide"><a href="https://uplift-theme.myshopify.com/collections/vendors?q=Shopify" title="">Shopify</a></h2>


				<div class="product-price-wrap" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
					<meta itemprop="priceCurrency" content="USD">

					<link itemprop="availability" href="http://schema.org/InStock">
					<span class="product-price" itemprop="price">
						<span class="money">155.000 đồng</span>
					</span>&nbsp;<s class="product-compare-price"></s>

				</div>

				<div class="cartableProduct single-var">
					<div class="product-variants">
						<fieldset>
							<input type="hidden" name="id" value="543647997">
						</fieldset>
						<div class="var-msg"></div>
					</div>
					<div class="quick-actions clearfix">
						<button type="button" class="purchase button">0978.180.067</button>
					</div>
					<ul>
						<li class="title">
							<h2> Điểm nổi bật </h2>
						</li>
						<li>Thời gian giao sản phẩm: trong vòng 24-72h</li>
						<li>Khách hàng vui lòng kiểm tra kỹ sản phẩm trước khi nhận hàng</li>
						<li>Đối với các sản phẩm bị lỗi từ nhà sản xuất, khách hàng vui lòng liện hệ đổi lại với nhân viên giao hàng trong vòng 3 ngày kể từ ngày giao hàng.</li>
						<li>
							<h4 class="red">Hotline: <strong>0978.180.067</strong> (chị Ngạn)</h4>
						</li>
						<li>Giá bán:
							<h4 style="display: inline-block;"><strong class="red">155.000đ</strong></h4> khi mua tại: <strong class="red">66/3 Phan Sào Nam, P.11, Quận Tân Bình</strong> hoặc <strong class="red">75D Mai Lão Bạng, P.13, Tân Bình.</strong>
						</li>
					</ul>
				</div>
			</div>
			<!-- product details -->

			<div id="product-description" class="rte" itemprop="description">
				<p>
					
					<ul>
						<li class="title">
							<h2>Phí vận chuyển</h2>
						</li>
						<li>Các khu vực Tân Bình, Bình Thạnh, Q.Tân Phú,: <strong>5.000Đ</strong>/ điểm giao hàng</li>
						<li>Các khu vực Q1, Q2, Q3, Q5, Q6, Q10, Q11,Q. Gò Vấp,Q Phú nhuận : <strong>10.000Đ</strong>/ điểm giao hàng</li>
						<li>Các khu vực Q4,Q 7, Q8: <strong>15.000Đ</strong>/ điểm giao hàng</li>
						<li>Các khu vực Q.Bình Tân,Bình Chánh, Q12, Hóc Môn, Nhà Bè, Q9, Q.Thủ Đức: <strong>30.000Đ</strong>/ điểm giao hàng.</li>
					</ul>
				</p>
			</div>

			<div id="share-me" class="clearfix">
				<h6>Share:</h6>
				<div class="addthis_toolbox addthis_default_style addthis_32x32_style clearfix">
					<a class="addthis_button_facebook at300b" title="Facebook" href="https://uplift-theme.myshopify.com/collections/animals/products/alligator-bath-toy#"><span class="at4-icon aticon-facebook" style="background-color: rgb(48, 88, 145);"><span class="at_a11y">Share on facebook</span></span></a>
					<a class="addthis_button_twitter at300b" title="Tweet" href="https://uplift-theme.myshopify.com/collections/animals/products/alligator-bath-toy#"><span class="at4-icon aticon-twitter" style="background-color: rgb(44, 168, 210);"><span class="at_a11y">Share on twitter</span></span></a>
					<a class="addthis_button_pinterest_share at300b" target="_blank" title="Pinterest" href="https://uplift-theme.myshopify.com/collections/animals/products/alligator-bath-toy#"><span class="at4-icon aticon-pinterest_share" style="background-color: rgb(200, 40, 40);"><span class="at_a11y">Share on pinterest_share</span></span></a>
					<a class="addthis_button_google_plusone_share at300b" target="_blank" title="Google+" href="https://uplift-theme.myshopify.com/collections/animals/products/alligator-bath-toy#"><span class="at4-icon aticon-google_plusone_share" style="background-color: rgb(206, 77, 57);"><span class="at_a11y">Share on google_plusone_share</span></span></a>
					<a class="addthis_button_compact at300m" href="https://uplift-theme.myshopify.com/collections/animals/products/alligator-bath-toy#"><span class="at4-icon aticon-compact" style="background-color: rgb(252, 109, 76);"><span class="at_a11y">More Sharing Services</span></span></a>
					<!--<a class="addthis_counter addthis_bubble_style"></a>-->
					<div class="atclear"></div>
				</div>
			</div>
		</div>
		<script>
			jQuery(function($) {
				var $product = $('#prod-' + 239282537);


				// item with single variant
				// If item is backordered yet can still be ordered, we'll show special message



			});
		</script>
	</section>
</div>
