<footer role="contentinfo" id="footer" class="has-bg-image">
	<div class="inner">
		<div class="credits clearfix">
			<p class="copyright">Copyright © 2015 <a href="https://uplift-theme.myshopify.com/">Uplift theme</a>. All Rights Reserved.</p>
			<p class="subtext"><a href="https://vn.linkedin.com/in/stigerdieu" rel="nofollow" target="_blank">Website coding by Stiger</a>
			</p>
		</div>
		<a id="scroll-top" title="Back to top of page" class="" href="https://uplift-theme.myshopify.com/collections/animals/products/alligator-bath-toy#header" style="display: none;">Back to top</a>
	</div>
</footer>