<header id="header" class="clearfix">
	<div class="row clearfix">
		<div class="logo">
			<h1 class="page-title red" itemprop="name">Xe tập đi - MADE IN VIETNAM</h1>
		</div>

		<div class="cart-info hide-mobile">
<!-- 			<a href="https://uplift-theme.myshopify.com/cart"><em>0</em> <span>items in your cart</span></a> -->
		</div>
	</div>

	<nav class="off-canvas-navigation show-mobile newfont">
		<a href="https://uplift-theme.myshopify.com/collections/animals/products/alligator-bath-toy#menu" class="menu-button">Menu</a>

		<a href="https://uplift-theme.myshopify.com/account" class="">Account</a>

		<a href="https://uplift-theme.myshopify.com/cart" class="">Cart</a>
	</nav>
</header>
